.login {
  height: 100vh;
  background-color: #5a189a;
  display: grid;
  place-items: center;
}

.login_container {
  padding: 100px;
  text-align: center;
  background-color: #c77dff;
  border-radius: 10px;
  box-shadow: 0 10px 3px rgba(0, 0, 0, 0.12), 0 8px 2px rgba(0, 0, 0, 0.24);
}

.login_container > img {
  object-fit: contain;
  height: 100px;
  margin-bottom: 40px;
}

.login_container > button {
  margin-top: 50px;
  text-transform: inherit !important;
  background-color: #3c096c !important;
  color: white;
}

.login_container > p {
  color: white;
  font-weight: 500;
}
